<div class="row">
  <nav class="side-menu fluid-container">
    <div class="cart col-md-3">
      <input placeholder="Search |" ng-model="search"></input>
      <ul class="search-list list-group">
        <li class="list-group-item" ng-repeat="item in main.categories">
          <a class="btn" type="radio" ng-click="main.searchButton(item)" value="{{item}}">
            {{item}}
          </a>
        </li>
      </ul>
      <div>
        <h4>Cart</h4>
        <ul class="cart-list list-group">
          <li class="list-group-item" ng-repeat="item in main.cart">
            <p ng-bind="item.name"></p>
            <div class="cart-price">
              <p ng-bind="item.price | currency:'£'"></p>
              x
              <p ng-bind="item.quantity"></p>
            </div>
            <button class="btn btn-info btn-block" ng-click=main.removeItem(item)> - </button>
          </li>
        </ul>
        <input type="text" placeholder="Enter Code |" ng-model="code">
        <button class="btn btn-default btn-block" type="button" ng-click=main.addVoucher(code)>Add Voucher</button>
        <div ng-show="main.error" ng-class="{fade:errorFade}" class="alert alert-danger">
          <strong>Error:</strong> {{main.errorMessage}}
        </div>

        Sub Total: <strong ng-bind="main.subTotal | currency:'£'"></strong><br>
        Vouchers: <p ng-bind={{main.codesUsed}}></p>
        Total: <strong ng-bind="main.total | currency:'£'"></strong>
        <a href="#" class="btn btn-default btn-block">Checkout</a>
      </div>
    </div>
  </nav>
  <section class="shop-items">
    <ul class=" list-group col-md-7 col-md-offset-1">
      <li class="list-group-item col-md-3" ng-repeat="item in main.items | filter:search | filter:main.buttonSearch">
        <h5 ng-bind="item.name"></h5>
        <p ng-bind="item.category"></p>
        <img ng-src={{item.img}} />
        <p ng-bind="item.price | currency:'£'" id="item-price"></p>
        <a ng-show="item.quantity > 0" class="btn btn-success" ng-click="main.addItem(item)"> Add to cart</a>
        <a ng-show="item.quantity > 0" class="btn btn-success" disabled=true>Quantity: {{item.quantity}}</a>
        <a ng-show="item.quantity === 0" class="btn btn-danger" disabled=true> Out of Stock</a>
      </li>
    </ul>
  </section>
</div>
